<section class="register">
    <form action="#/register" method="post">
        <fieldset>
            <legend>Register</legend>
            <p class="field">
                <label for="username">Username</label>
                <span class="input">
                    <input id="username" name="username" placeholder="Username" type="text"/>
                    <span class="actions"></span>
                    <i class="fas fa-user"></i>
                </span>
            </p>
            <p class="field">
                <label for="password">Password</label>
                <span class="input">
                    <input id="password" name="password" placeholder="Password" type="password"/>
                    <span class="actions"></span>
                    <i class="fas fa-key"></i>
                </span>
            </p>
            <input class="button" type="submit" value="Register"/>
        </fieldset>
    </form>
</section>
