<section id="viewLogin">
    <h2>Login to your account:</h2>
    <form id="formLogin" action="#/login" method="post">
        <label>Username:</label>
        <input name="username" placeholder="Enter your Email" type="text">
        <label>Password:</label>
        <input name="password" placeholder="Enter your Password" type="password">
        <input class="login" type="submit" value="Login">
    </form>
</section>
