<div id="create-listing">
    <form action="#/cars/create" method="post">
        <div class="container">
            <h1>Create Car Listing</h1>
            <p>Please fill in this form to create an listing.</p>
            <hr>

            <p>Title</p>
            <input name="title" placeholder="Enter Title" type="text">

            <p>Description</p>
            <input name="description" placeholder="Enter Description" type="text">

            <p>Car Brand</p>
            <input name="brand" placeholder="Enter Car Brand" type="text">

            <p>Car Model</p>
            <input name="model" placeholder="Enter Car Model" type="text">

            <p>Car Year</p>
            <input name="year" placeholder="Enter Car Year" type="number">

            <p>Car Image</p>
            <input name="imageUrl" placeholder="Enter Car Image" type="text">

            <p>Car Fuel Type</p>
            <input name="fuelType" placeholder="Enter Car Fuel Type" type="text">

            <p>Car Price</p>
            <input name="price" placeholder="Enter Car Price" type="number">

            <hr>
            <button class="registerbtn" type="submit">Create Listing</button>
        </div>
    </form>
</div>
